#include <windows.h>
#include "../src/resource.h"
IDI_APP ICON "app.ico"
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "app.manifest"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "Graphire Driver (user-mode driver for Wacom ET-0405A-U)"
      VALUE "FileVersion", "1.0.0"
      VALUE "ProductName", "Graphire Driver"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
